# gostub

[![GoDoc](https://godoc.org/github.com/prashantv/gostub?status.svg)](https://godoc.org/github.com/prashantv/gostub)

gostub is a library to make stubbing in unit tests easy.

## Getting started

Import the following package:
`{{ .ImportPath }}`

{{ .EmitSynopsis }}
